<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>태그 관리자</title>
    <link rel="stylesheet" href="./tagMange.css">
</head>
<body>
    <div class="wrapper">

    
    <div class="content">
        <div class ="side">
            <div class ="blank"></div>
            <div class ="product">회원관리</div>
            <div class ="member">태그관리</div>
            <div class ="product">작품관리</div>
            <div class ="warning">신고관리</div>
            <div class ="warning">공지사항</div>
         </div>
        <div class ="main">
            
            <div class ="blank2"></div>
            
            <div class ="bigClass">
                <div class ="bigClass-1">태그</div>
                <div class ="bigClass-2">금지어</div>
            </div>
            <div class="main1">
                <div class="main1-1">
                    <span><span class="font-red">검색어를 입력</span>하여 검색할 수 있습니다.</span><br/>
                    <span><span class="font-red">수정버튼</span>을 클릭하시면 수정할 수 있습니다.</span><br/>
                    <span><span class="font-red">데이터가 많은 경우</span> 느려질 수 있습니다.</span>
                </div>
            </div>
            <div class ="main2">
                <div class="main2-1">
                    <label>검색</label>
                     <input type="text" placeholder="태그를 입력해주세요.">
                     <button>검색</button>
                    <div class="date_search">
                        <label>날짜분류</label>
                            <input type="date">
                            <span> ~ </span>
                            <input type="date">
                            <button>검색</button>
                        </div>
                    </div>
                    <div class="main3">
                        <input type="button" value="등록"/>
                        <input type="button" value="삭제"/>
                    </div>
            </div>
            <div class="main3-table">
                <table>
                    <colgroup>
                            <col width="10%"/>
                            <col width="10%"/>
                            <col width="10%"/>
                            <col width="10%"/>
                            <col width="10%"/>
                            <col width="10%"/>
                            <col width="10%"/>
                            <col width="10%"/>
                            <col width="10%"/>
                            <col width="10%"/>
                    </colgroup>
                    <tr>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td><!--신고자 닉네임(아이디)  -->
                        <td>#태그</td>
                    </tr>
                    <tr>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td><!--신고자 닉네임(아이디)  -->
                        <td>#태그</td>
                    </tr>
                    <tr>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td><!--신고자 닉네임(아이디)  -->
                        <td>#태그</td>
                    </tr>
                    <tr>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td><!--신고자 닉네임(아이디)  -->
                        <td>#태그</td>
                    </tr>
                    <tr>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td><!--신고자 닉네임(아이디)  -->
                        <td>#태그</td>
                    </tr>
                    <tr>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td><!--신고자 닉네임(아이디)  -->
                        <td>#태그</td>
                    </tr>
                    <tr>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td><!--신고자 닉네임(아이디)  -->
                        <td>#태그</td>
                    </tr>
                    <tr>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td><!--신고자 닉네임(아이디)  -->
                        <td>#태그</td>
                    </tr>
                    <tr>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td><!--신고자 닉네임(아이디)  -->
                        <td>#태그</td>
                    </tr>
                    <tr>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td>
                        <td>#태그</td><!--신고자 닉네임(아이디)  -->
                        <td>#태그</td>
                    </tr>
                   
                </table>
            </div>
            <div class ="status"> 전체 : 100개</div>
        </div>
    
    </div>
</div><!-- wrapper end  -->
</body>
</html>