@charset "UTF-8";

body {
	font-size: 0pt;
	margin: 0;
	font-family: '돋움';
}

[type="button"] {
	cursor: pointer;
	font-family: '돋움';
}

.ftr a, .side_bar a {
	color: inherit;
	text-decoration: none;
}

.hdr {
	margin-top: 20px;
	position: relative;
	width: 100%;
	height: 60px;
}

#btnMenu {
	position: absolute;
	left: 40px;
	cursor: pointer;
}

#btnLogo {
	position: absolute;
	left: 80px;
}

#srhW {
	width: 300px;
	height: 45px;
	position: absolute;
	right: 100px;
	display: none;
}

#btnSrh {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	border: 1px solid #cccccc;
	outline-style: none;
}

#btnLook {
	position: absolute;
	right: 40px;
	cursor: pointer;
}

.side_bar {
	display: none;
	border: 2px solid gray;
	background-color: white;
	width: 300px;
	height: 630px;
	position: absolute;
	top: 65px;
	left: 40px;
	z-index: 200;
	border-radius: 10px;
}

#btnUod, #btnLot {
	border: 1px solid #ffad33;
	color: #ffad33;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18pt;
	cursor: pointer;
	border-radius: 20px;
	background-color: white;
}

.pfe {
	width: 200px;
	height: 200px;
	border-radius: 70%;
	overflow: hidden;
	position: absolute;
	top: 50px;
	left: 48px;
}

.pfe_img, .pfe_img2, .pfe_img3, .pfe_img4 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#pfeName {
	position: absolute;
	width: 300px;
	height: 20px;
	text-align: center;
	top: 260px;
	font-size: 22pt;
}

#btnUod {
	position: absolute;
	top: 310px;
	left: 95px;
}

.side_bar_menu {
	position: absolute;
	margin: 330px auto 0px;
	text-align: center;
	padding-top: 20px;
	font-size: 15pt;
	width: 100%;
	height: 200px;
}

#btnLot {
	position: absolute;
	top: 550px;
	left: 95px;
}

.wrap {
	position: relative;
	width: 1330px;
	height: 800px;
	margin: 0 auto;
}

.pfe_wrap {
	width: 310px;
	height: 1100px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 2px solid #d9d9d9;
	border-radius: 20px;
	color: black;
	margin-top: 110px;
}

.pfe2 {
	width: 200px;
	height: 200px;
	border-radius: 70%;
	overflow: hidden;
	position: absolute;
	top: 30px;
	left: 60px;
}


.pfe_img2 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#pfeName2 {
	position: absolute;
	width: 100%;
	height: 20px;
	text-align: center;
	top: 250px;
	font-size: 20pt;
}

#pfeLike {
	position: absolute;
	width: 100%;
	height: 15px;
	text-align: center;
	top: 290px;
	font-size: 11pt;
}

#pfeIrue {
	position: absolute;
	width: 100%;
	height: 705px;
	text-align: center;
	top: 330px;
	font-size: 14pt;
	overflow: hidden;
	text-overflow: ellipsis;
}

#pfeIrueIn {
	padding: 0px 10px;
}


#set {
	margin-top: 10px;
	margin-left: 10px;
	width: 90px;
    padding: 5px;
    padding-left: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.gly_wrap {
	width: 980px;
	height: 1200px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-top: 110px;
	margin-left: 30px;
}

.gly {
	width: 100%;
	position: absolute;
}

#tabs input:nth-of-type(1), #tabs input:nth-of-type(1) ~ div:nth-of-type(1), #tabs input:nth-of-type(2), #tabs input:nth-of-type(2) ~ div:nth-of-type(2), #tabs input:nth-of-type(3), #tabs input:nth-of-type(3) ~ div:nth-of-type(3) {
    display:none;
}
#tabs input:nth-of-type(1):checked ~ div:nth-of-type(1), #tabs input:nth-of-type(2):checked ~ div:nth-of-type(2), #tabs input:nth-of-type(3):checked ~ div:nth-of-type(3) {
    display:block;
}
#tabs > label {
    display:inline-block;
    font-size: 12pt;
    padding:5px;
    text-align:center;
    width:130px;
    line-height:1.8em;
    font-weight:700;
    border-radius:3px 3px 0 0;
    background: white;
    color: black;
    border:1px solid #ccc;
    border-width:1px 1px 0;
}
#tabs > label:hover {
    cursor:pointer;
}
#tabs label[for=glyMenu1] {
    /* margin-left: 20px; */
}
#tabs input:nth-of-type(1):checked ~ label:nth-of-type(1), #tabs > label[for=glyMenu1]:hover {
    background-color: #ffad33;
    color:#fff;
}
#tabs input:nth-of-type(2):checked ~ label:nth-of-type(2), #tabs > label[for=glyMenu2]:hover {
    background-color: #ffad33;
    color:#fff;
}
#tabs input:nth-of-type(3):checked ~ label:nth-of-type(3), #tabs > label[for=glyMenu3]:hover {
    background-color: #ffad33;
    color:#fff;
}
#tabs .gly_menu1_ctt, #tabs .gly_menu2_ctt, #tabs .gly_menu3_ctt {
    padding: 2px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 930px;
    height: 1200px;
    /* margin-left: 20px; */
}

.pte {
	display: inline-block;
	margin-bottom: 30px;
	margin-right: 30px;
	cursor: pointer;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: 100%
}

#pte1 {
	background-image: url("../../images/PJ/짱구1.jpg");
}

#pte2 {
	background-image: url("../../images/PJ/짱구2.jpg");
}

#pte3 {
	background-image: url("../../images/PJ/짱구3.jpg");
}

#pte4 {
	background-image: url("../../images/PJ/짱구5.jpg");
}

#pte5 {
	background-image: url("../../images/PJ/짱구3.jpg");
}

#pte6 {
	background-image: url("../../images/PJ/짱구4.jpg");
}

#pte7 {
	background-image: url("../../images/PJ/짱구5.jpg");
}
#pte8 {
	background-image: url("../../images/PJ/짱구1.jpg");
}
#pte9 {
	background-image: url("../../images/PJ/짱구3.jpg");
}

.pte_wrap {
	position: absolute;
	margin-top: 20px;
}

.pte_wrap :not(:nth-child(3n)) {
	margin-right: 15px;
}

.pte_wrap img:hover {
	filter: brightness(35%);
}


#btnGoUod {
	width: 110px;
	height: 35px;
	margin-left: 290px;
	border: 1px solid #ccc;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
	background-color: white;
	padding: 2px;
	cursor: pointer;
}

#btnGoUod:hover {
 	background-color: #ffad33;
	color: white;
}

#set {    
    margin-top: 10px;
	margin-left: 20px;
	width: 90px;
    padding: 5px;
    padding-left: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.pitn {
	position: absolute;
	display: inline-block;
	font-size: 15pt;
	left: 290px;
	bottom: 20px;
}

.pitn a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}


.pitn a.active {
	border: 1px solid black;
	font-weight: bold;
	border-radius: 5px;
}

.pitn a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}

.ftr {
	width: 100%;
	height: 150px;
	background-color: black;
	position: relative;
	color: white;
	margin-top: 750px;
}

#btnLogo2 {
	position: absolute;
	top: 30px;
	left: 150px;
}

.ftr_pae {
	font-size: 12pt;
	color: white;
	position: absolute;
	top: 80px;
	left: 95px;
}

#ftr1, #ftr2, #ftr3, #ftr4 {
	font-size: 10pt;
	color: white;
	position: absolute;
	top: 60px;
	display: inline-block;
}

#ftr1 {
	left: 500px;
}

#ftr2 {
	left: 650px;
}

#ftr3 {
	left: 780px;
}

#ftr4 {
	left: 990px;
}