@charset "UTF-8";

.background {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000000;
	opacity:0.3;
	z-index: 100;
}


.wrap {
	position: absolute;
	width: 1330PX;
	height: 800px;
	top: 50%;
	left: 50%;
	margin-top: -410px;
	margin-left: -660px;
	background-color: #ffffff;
	padding: 16px;
	z-index: 1000;
	overflow-y: scroll;
    overflow-x: hidden;
}

.popup_title {
	height: 40px;
	background-color: #fbfbfb;
	font-size: 26px;
	color: gray;
	text-align: center;
	line-height: 40px;
}

.close_btn_wrap, .save_btn_wrap {
	height: 60px;
	padding: 20px;
	width: 100%;
}

.close_btn_wrap [type='button'], .save_btn_wrap [type='button'] {
	font-family: '돋움';
	width: 60px;
	height: 40px;
	border: 0px;
	border-radius: 20px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    background-color: #fbfbfb;
    right: 10px;
}


#BtnUpdate {
	right: 74px;
}

#BtnUpdate:hover, .#BtnClose:hover {
	background-color: #ffad33;
	color: white;
}

.contents_wrap {
	width: 100%;
	height: 50%;
}

.contents_img {
	width: 700px;
	height: 500px;
	display: block;
	margin: 0 auto;
}

.category {
	font-size: 16pt;
	margin-top: 100px;
	margin-bottom: 10px;
	display: inline-block;
}

.title {
	font-size: 30pt;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}

.contents_date {
	font-size: 12pt;
	color: #d9d9d9;
	display: inline-block;
}


.contents {
	min-height: 150px;
    margin-bottom: 15px;
}

.tag_wrap {
	width: 100%;
	height: 40px;
	position: relative;
}

.small_tag {
	font-size: 13pt;
	padding: 5px 12px 5px 5px;
	background-color: #ffad33;
	border: 2px solid #ffad33;
	color: white;
	border-radius: 20px;
	margin-right: 7px;
}

.comment_wrap {
	width: 106px;
	height: 30px;
	border: 2px solid #ffad33;
	border-radius: 20px;
	display: inline-block;
	position: absolute;
	cursor: pointer;
	right: 30px;
}

.comment_img {
	width: 30px;
	height: 30px;
}

.comment {
	font-size: 12pt;
	color: #959595;
	display: inline-block;
	height: 30px;
	position: absolute;
	left: 32px;
	top: 4px;
}

.mini_profile_wrap {
	height: 250px;
	position: relative;
	margin-bottom: 40px;
	background-color: #fbfbfb;
	margin-top: 30px;
}

.mini_profile {
	width: 200px;
	height: 200px;
	border-radius: 70%;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 25px;
	right: 30px;
}

.profile_img, .profile_img2, .profile_img3, .reply_profile_img3 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mini_profile_name {
	font-size: 20pt;
	color: #333333;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 30px;
	left: 30px;
}

.profile_introduce {
	font-size: 10pt;
	color: #959595;
	width: 75%;
	top: 100px;
	left: 30px;
	position: absolute;
}