@charset "UTF-8";

body {
	font-size: 0pt;
	margin: 0;
	font-family: '돋움';
}

[type="button"] {
	cursor: pointer;
	font-family: ''돋움';
}

.wrap {
	position: relative;
	width: 1330px;
	height: 1600px;
	margin: 0 auto;
}

.gallary {
	width: 100%;
	position: absolute;
	margin-top: 120px;
}

#tabs input:nth-of-type(1), #tabs input:nth-of-type(1) ~ div:nth-of-type(1), #tabs input:nth-of-type(2), #tabs input:nth-of-type(2) ~ div:nth-of-type(2), #tabs input:nth-of-type(3), #tabs input:nth-of-type(3) ~ div:nth-of-type(3) {
    display:none;
}
#tabs input:nth-of-type(1):checked ~ div:nth-of-type(1), #tabs input:nth-of-type(2):checked ~ div:nth-of-type(2), #tabs input:nth-of-type(3):checked ~ div:nth-of-type(3) {
    display:block;
}
#tabs > label {
    display:inline-block;
    font-size: 12pt;
    padding:5px;
    text-align:center;
    width:130px;
    line-height:1.8em;
    font-weight:700;
    border-radius:3px 3px 0 0;
    background: white;
    color: black;
    border:1px solid #ccc;
    border-width:1px 1px 0;
}
#tabs > label:hover {
    cursor:pointer;
}

#tabs label[for=gallaryMenu1] {
    margin-left: 20px;
}
#tabs input:nth-of-type(1):checked ~ label:nth-of-type(1), #tabs > label[for=gallaryMenu1]:hover {
    background-color: #ffad33;
    color:#fff;
}
#tabs input:nth-of-type(2):checked ~ label:nth-of-type(2), #tabs > label[for=gallaryMenu2]:hover {
    background-color:#ffad33;
    color:#fff;
}
#tabs input:nth-of-type(3):checked ~ label:nth-of-type(3), #tabs > label[for=gallaryMenu3]:hover {
    background-color: #ffad33;
    color:#fff;
}
#tabs .gallary_menu1_contents, #tabs .gallary_menu2_contents, #tabs .gallary_menu3_contents {
    padding: 2px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    width: 1280px;
    height: 1500px;
    margin-left: 20px;
}

.picture {
	display: inline-block;
	cursor: pointer;
	width: 310px;
	height: 310px;
	background-repeat: no-repeat;
	background-size: 100%
}

.picture_wrap {
	position: absolute;
	margin-top: 20px;
}

#picture1 {
	background-image: url("../../images/JY/짱구1.jpg");
}

#picture2 {
	background-image: url("../../images/JY/짱구2.jpg");
}

#picture3 {
	background-image: url("../../images/JY/짱구3.jpg");
}

#picture4 {
	background-image: url("../../images/JY/짱구5.jpg");
}

#picture5 {
	background-image: url("../../images/JY/짱구3.jpg");
}

#picture6 {
	background-image: url("../../images/JY/짱구4.jpg");
}

#picture7 {
	background-image: url("../../images/JY/짱구5.jpg");
}
#picture8 {
	background-image: url("../../images/JY/짱구1.jpg");
}
#picture9 {
	background-image: url("../../images/JY/짱구3.jpg");
}
#picture10 {
	background-image: url("../../images/JY/짱구2.jpg");
}
#picture11 {
	background-image: url("../../images/JY/짱구5.jpg");
}
#picture12 {
	background-image: url("../../images/JY/짱구4.jpg");
}
#picture13 {
	background-image: url("../../images/JY/짱구3.jpg");
}
#picture14 {
	background-image: url("../../images/JY/짱구1.jpg");
}
#picture15 {
	background-image: url("../../images/JY/짱구2.jpg");
}
#picture16 {
	background-image: url("../../images/JY/짱구4.jpg");
}

.picture_wrap :not(:nth-child(4n)) {
	margin-right: 15px;
}

.picture {
	margin-bottom: 15px;
}

.picture_wrap img:hover {
	filter: brightness(35%);
}


#set {
	margin-top: 10px;
	margin-left: 770px;
	width: 90px;
    padding: 5px;
    padding-left: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.pagination {
	position: absolute;
	display: inline-block;
	font-size: 15pt;
	left: 490px;
	bottom: 20px;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	/* background-color: black; */
	border: 1px solid black;
	font-weight: bold;
	/* color: white; */
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}