@charset "UTF-8";

html, body {
	height: 100%;
}

body {
	font-size: 0pt;
	margin: 0;
	font-family: '돋움';
	/* overflow-x: hidden; */
	min-width: 1000px;
}

.wrap {
	width: 100%;
	margin-top: 100px;
}

.pic_wrap, .drawing_wrap, .video_wrap {
	width: 100%;
	height: 30%;
	position: relative;
}

.pic_wrap, .drawing_wrap {
	border-bottom: 5px dotted #dadad8;
}

.pic_title, .drawing_title, .video_title {
	font-size: 30pt;
	height: 50px;
	margin-left: 50px;
	margin-bottom: 20px;
}

.drawing_title, .video_title {
	padding-top: 100px;
}

.img_wrap, .img_wrap2, .img_wrap3 {
	width: 100%;
	position: relative;
}

#leftArrow, #rightArrow {
	cursor: pointer;
	position: absolute;
	z-index: 600;
	top: calc(50% - 50px);
	width: 100px;
	height: 100px;
	opacity: 0.5;
}

#leftArrow {
	left: 20px;
}

#rightArrow {
	right: 20px;
}

.more {
	font-size: 1vw;
	z-index: 200;
	margin-top: 3%;
	margin-left: 89%;
	height: 50px;
	position: relative;
}

.pic, .drawing, .video {
    position: relative;
    width: 25%;
    display: inline-block;
    padding: 0;
    margin: 0;
    background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}

.pic:after, .drawing:after, .video:after {
 	content: "";
  	display: block;
 	padding-bottom: 100%;
}

#pic1 {
	background-image: url("../../images/JY/짱구1.jpg");
}

#pic2 {
	background-image: url("../../images/JY/짱구2.jpg");
}

#pic3 {
	background-image: url("../../images/JY/짱구3.jpg");
}

#pic4 {
	background-image: url("../../images/JY/짱구5.jpg");
}

#drawing1 {
	background-image: url("../../images/JY/짱구1.jpg");
}

#drawing2 {
	background-image: url("../../images/JY/짱구2.jpg");
}

#drawing3 {
	background-image: url("../../images/JY/짱구3.jpg");
}

#drawing4 {
	background-image: url("../../images/JY/짱구4.jpg");
}

#video1 {
	background-image: url("../../images/JY/짱구3.jpg");
}

#video2 {
	background-image: url("../../images/JY/짱구5.jpg");
}

#video3 {
	background-image: url("../../images/JY/짱구3.jpg");
}

#video4 {
	background-image: url("../../images/JY/짱구5.jpg");
}

.contents_title, .contents_in, .contents_heart, .contents_name {
	position: absolute;
	opacity: 0;
	left: 1.5vw;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	word-wrap:break-word; 
	z-index: 300;
	font-size: 1.4vw;
}

.contents_title {
	top: 4vh;
	width: 85%;
	height: auto;
	font-size: 2vw;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.contents_in {
	top: 10vh;
	font-size: 1vw;
	width: 90%;
	height: auto;
	white-space: pre-wrap;
	text-overflow: ellipsis;
	display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.contents_name {
	top: 85%;
	width: 90%;
	height: auto;
	font-size: 1.5vw;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.contents_heart {
	width: 3vw;
	height: auto;
	top: 10px;
	left: 85%;
}

.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 200;
}

.pic:hover .contents_title, .pic:hover .contents_in, .pic:hover .contents_heart,
	.pic:hover .contents_name {
	opacity: 1;
	color: white;
	z-index: 300;
}

.pic:hover .bg {
	background-color: gray;
	opacity: 0.7;
}

.drawing:hover #background {
	background-color: gray;
	opacity: 0.7;
}

.video iframe:hover {
	filter: brightness(35%);
}