@charset "UTF-8";

body {
	font-size: 0pt;
	margin: 0;
	font-family: '돋움';
}

[type="button"] {
	cursor: pointer;
	font-family: '돋움';
	background-color: #ffad33;
	border-color: #ffad33;
	font-size: 10pt;
	color: white;
}
.side_bar {
	display: none;
	border: 2px solid gray;
	background-color: white;
	width: 300px;
	height: 630px;
	position: absolute;
	top: 65px;
	left: 40px;
	z-index: 200;
	border-radius: 10px;
}

#btnUpload, #btnLogout {
	border: 1px solid #ffad33;
	color: #ffad33;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18pt;
	cursor: pointer;
	border-radius: 20px;
	background-color: white;
}

.profile {
	width: 200px;
	height: 200px;
	border-radius: 70%;
	overflow: hidden;
	position: absolute;
	top: 50px;
	left: 48px;
}

.profile_img, .profile_img2, .profile_img3, .profile_img4 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#profileName {
	position: absolute;
	width: 300px;
	height: 20px;
	text-align: center;
	top: 260px;
	font-size: 22pt;
}

#btnUpload {
	position: absolute;
	top: 310px;
	left: 95px;
}

.side_bar_menu {
	position: absolute;
	margin: 330px auto 0px;
	text-align: center;
	padding-top: 20px;
	font-size: 15pt;
	width: 100%;
	height: 200px;
}

#btnLogout {
	position: absolute;
	top: 550px;
	left: 95px;
}

.footer a, .side_bar a, .wrap a {
	color: inherit;
	text-decoration: none;
}

.header {
	margin-top: 20px;
	position: relative;
	width: 100%;
	height: 60px;
}

#btnMenu {
	position: absolute;
	left: 40px;
	cursor: pointer;
}

#btnLogo {
	position: absolute;
	left: 80px;
}

#searchW {
	width: 300px;
	height: 45px;
	position: absolute;
	right: 100px;
	display: none;
}

#btnSearch {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	border: 1px solid #cccccc;
	outline-style: none;
}

#btnLook {
	position: absolute;
	right: 40px;
	cursor: pointer;
}

.wrap {
	width: 1330px;
	height: 100%;
	margin: 110px auto;
}

.btn_menu {
	width: 300px;
	height: 800px;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}

.alarm:hover, .privacy:hover, .stop:hover, .profile_manage:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.contents {
	width: 700px;
	height: 800px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
/* 	border: 3px solid black;
 */}

.set {
	width: 190px;
	height: 50px;
	font-size: 25pt;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

.profile_manage, .privacy, .stop {
	width: 190px;
	height: 50px;
	font-size: 15pt;
	font-weight: bold;
	background-color: white;
	color: black;
	border-top: 1px solid #d9d9d9;
	line-height: 50px;
	text-align: center;
	margin-bottom: 5px;
}

.profile_manage {
	background-color: black;
	color: white;
}

.stop {
	border-bottom: 1px solid #d9d9d9;
}

.title {
	width: 100%;
	height: 50px;
	font-size: 25pt;
	font-weight: bold;
/* 	margin-top: 20px;
	margin-left: 20px; */
	margin-bottom: 30px;
	border-bottom: 1px solid #d9d9d9;
	color: black;
}


#profileEdit {
	width: 250px;
	height: 250px;
	border-radius: 70%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 20px;
}

#profileEditImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#btnProfileUploadW {
	width: 100%;
	height: 45px;
	text-align: center;
	margin-bottom: 50px;
}

#btnProfileUpload {
	width: 100px;
	height: 100%;
	background-color: #ffad33;
	border-color: #ffad33;
}

#nickname {
	width: 80%;
	height: 50px;
}

#nicknameCheck {
	width: 17%;
	height: 50px;
}

#introduce {
	width: 100%;
	height: 500px;
}

.table {
	width: 100%;
	color: black;
	font-size: 10pt;
	font-weight: bold;
	border-top: 1px solid #d9d9d9;
    border-collapse: collapse;
}

td, th {
	border-bottom: 1px solid #d9d9d9;
	padding: 10px;
}

th {
	background-color: #e6e6e6;
	width: 120px;
}

td {
	width: 520px;
}

.save_cancel {
	width: 200px;
	height: 50px;
	margin-left: 45%;
}

#btnSave, #btnCancel {
	padding: 15px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 50px;
	font-size: 10pt;
	display: inline-block;
	background-color: #e6e6e6;
	color: black;
}

#btnSave {
	margin-right: 15px;
	background-color: #ffad33;
	color: white;
}

.footer {
	width: 100%;
	height: 150px;
	background-color: black;
	position: relative;
	color: white;
	margin-top: 500px;
}

#btnLogo2 {
	position: absolute;
	top: 30px;
	left: 150px;
}

.footer_phrase {
	font-size: 12pt;
	color: white;
	position: absolute;
	top: 80px;
	left: 95px;
}

#footer1, #footer2, #footer3, #footer4 {
	font-size: 10pt;
	color: white;
	position: absolute;
	top: 60px;
	display: inline-block;
}

#footer1 {
	left: 500px;
}

#footer2 {
	left: 650px;
}

#footer3 {
	left: 780px;
}

#footer4 {
	left: 990px;
}